{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_pw" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldpw" placeholder="Current Password" type="password" REQUIRED>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpw" placeholder="New Password" type="password" REQUIRED>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpw2" placeholder="Confirm New Password" type="password" REQUIRED>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
